.h3_login{
    font-size: 24px;
color: #475775;
font-weight: 700;
}
.h5_login{
    font-size: 21px;
color: #475775;
font-weight: 500;
}
.heading{
    text-align: center;
font-size: 21px;
font-weight: 700;
color: #475775;
}